@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Ubuntu:ital,wght@0,700;1,400&display=swap");
@import url(../CSS/chronometer.css);
@import url(../CSS/clock.css);
:root {
  --color_grey2: #008080;
  --color_white: #fff;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color_white);
  font-family: 'Ubuntu', sans-serif;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

* button {
  outline: none;
  border: none;
  cursor: pointer;
}

* button:hover {
  opacity: .8;
}

* button:active {
  opacity: 1;
}

* svg {
  width: 50px;
  fill: var(--color_white);
}

body {
  background: var(--color_grey2);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: background .5s;
  transition: background .5s;
  display: -ms-grid;
  display: grid;
}

body .container {
  -webkit-box-shadow: 0 0 25px #ffffff40;
          box-shadow: 0 0 25px #ffffff40;
  border-radius: 5px;
  background: var(--color_grey2);
  width: 80%;
  height: 80%;
  place-self: center;
  overflow: hidden;
  -webkit-transition: background .5s;
  transition: background .5s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
}

body .container .container-navBar {
  background: var(--color_white);
  place-self: center;
  width: 90%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2;
      grid-template-columns: 2;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .container .container-navBar .btn-chronometer {
  color: var(--color_grey2);
  margin: 10px 20px;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 900;
  background: #f0f5f8;
  -webkit-box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
          box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  border-radius: 10px;
  -webkit-transition: background .5s;
  transition: background .5s;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .container .container-navBar .btn-chronometer.active {
  background: var(--color_grey2);
  color: var(--color_white);
}

body .container .container-navBar .btn-clock {
  color: var(--color_grey2);
  margin: 10px 20px;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 900;
  background: #f0f5f8;
  -webkit-box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
          box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  border-radius: 10px;
  -webkit-transition: background .5s;
  transition: background .5s;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body .container .container-navBar .btn-clock.active {
  background: var(--color_grey2);
  color: var(--color_white);
}

body .container .container-colors {
  background: transparent;
  -webkit-box-shadow: 0 0 10px #ffffff90;
          box-shadow: 0 0 10px #ffffff90;
  position: absolute;
  place-self: flex-end;
  margin: 10px;
  z-index: 200;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  outline: 2px solid #fff;
  -webkit-transition: .5s;
  transition: .5s;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

body .container .container-colors.active {
  margin: 0 55px 55px 0;
}

body .container .container-colors.active span {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: rotate(calc(var(--i) * (360deg/10))) translateY(50px);
          transform: rotate(calc(var(--i) * (360deg/10))) translateY(50px);
}

body .container .container-colors span {
  position: absolute;
  -webkit-box-shadow: 0 0 10px #00000080;
          box-shadow: 0 0 10px #00000080;
  z-index: 100;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

body .container .container-colors span:hover {
  opacity: .8;
  -webkit-box-shadow: 0 0 15px #ffffff;
          box-shadow: 0 0 15px #ffffff;
}

body .container .container-colors span.active {
  outline: 2px solid #fff;
}

@media (max-width: 800px) {
  body .container {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  body .container .container-navBar {
    background: var(--color_white);
    align-self: flex-start;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2;
        grid-template-columns: 2;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .container .container-navBar button:hover {
    opacity: 1;
  }
  body .container .container-navBar .btn-chronometer {
    color: var(--color_grey2);
    margin: 10px 20px;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 900;
    background: #f0f5f8;
    -webkit-box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
            box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    border-radius: 10px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .container .container-navBar .btn-clock {
    color: var(--color_grey2);
    margin: 10px 20px;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 900;
    background: #f0f5f8;
    -webkit-box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
            box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    border-radius: 10px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .container .container-colors {
    background: transparent;
    -webkit-box-shadow: 0 0 10px #ffffff90;
            box-shadow: 0 0 10px #ffffff90;
    position: absolute;
    place-self: flex-end;
    margin: 10px;
    z-index: 200;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    outline: 2px solid #fff;
    -webkit-transition: .5s;
    transition: .5s;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  body .container .container-colors.active {
    margin: 0 50px 55px 0;
    margin-bottom: 200px;
  }
  body .container .container-colors.active span {
    opacity: 1;
    pointer-events: visible;
    -webkit-transform: rotate(calc(var(--i) * (360deg/10))) translateY(50px);
            transform: rotate(calc(var(--i) * (360deg/10))) translateY(50px);
  }
  body .container .container-colors span {
    position: absolute;
    -webkit-box-shadow: 0 0 10px #00000080;
            box-shadow: 0 0 10px #00000080;
    z-index: 100;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: .6s ease all;
    transition: .6s ease all;
  }
  body .container .container-colors span:hover {
    opacity: .8;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .container .container-colors span.active {
    outline: 2px solid #fff;
  }
}
/*# sourceMappingURL=body.css.map */