:root {
	--color_grey2: #008080;
	--color_white: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Ubuntu:ital,wght@0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	&::selection {
		background: transparent;
	}
	button {
		outline: none;
		border: none;
		cursor: pointer;
		&:hover {
			opacity: .8;
		}
		&:active {
			opacity: 1;
		}
	}
	svg {
		width: 50px;
		fill: var(--color_white);
	}
	color: var(--color_white);
	// font-family: 'Nunito', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

@import url(../CSS/chronometer.css);
@import url(../CSS/clock.css);

body {
	background: var(--color_grey2);
	width: 100%;
	height: 100vh;
	overflow: hidden;
	transition: background .5s;

	display: grid;
	.container {
		box-shadow: 0 0 25px #ffffff40;
		border-radius: 5px;
		background: var(--color_grey2);
		width: 80%;
		height: 80%;
		place-self: center;
		overflow: hidden;
		transition: background .5s;

		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, auto);

		.container-navBar {
			background: var(--color_white);
			place-self: center;
			width: 90%;
			border-radius: 10px;
			box-shadow: 0 0 10px #ffffff;
			overflow: hidden;

			display: grid;
			grid-template-columns: 2;
			grid-template-rows: 2;
			grid-column: 1/9;
			grid-row: 1/2;
			.btn-chronometer {
				color: var(--color_grey2);
				margin: 10px 20px;
				padding: 10px 0;
				font: {
					size: 1.5rem;
					weight: 900;
				}
				background: #f0f5f8;
				box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
				border-radius: 10px;
				transition: background .5s;

				grid-column: 1/2;
				grid-row: 1/2;
				&.active {
					background: var(--color_grey2);
					color: var(--color_white);
				}
			}
			.btn-clock {
				color: var(--color_grey2);
				margin: 10px 20px;
				padding: 10px 0;
				font: {
					size: 1.5rem;
					weight: 900;
				}
				background: #f0f5f8;
				box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
				border-radius: 10px;
				transition: background .5s;

				grid-column: 2/3;
				grid-row: 1/2;
				&.active {
					background: var(--color_grey2);
					color: var(--color_white);
				}
			}
		}
		.container-colors {
			background: transparent;
			box-shadow: 0 0 10px #ffffff90;
			position: absolute;
			place-self: flex-end;
			margin: 10px;
			z-index: 200;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			cursor: pointer;
			outline: 2px solid #fff;
			transition: .5s;

			grid-column: 1/9;
			grid-row: 8/9;
			&.active {
				margin: 0 55px 55px 0;
				span {
					opacity: 1;
					pointer-events: visible;
					transform: rotate(calc(var(--i) * (360deg/10))) translateY(50px);
				}
			}
			span {
				position: absolute;
				box-shadow: 0 0 10px #00000080;
				z-index: 100;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				cursor: pointer;
				opacity: 0;
				pointer-events: none;
				transition: .6s ease all;
				&:hover {
					opacity: .8;
					box-shadow: 0 0 15px #ffffff;
				}
				&.active {
					outline: 2px solid #fff;
				}
			}
		}
	}
	@media (max-width: 800px) {
		.container {
			width: 100%;
			height: 100%;
		}
	}
	@media (max-width: 600px) {
		.container {
			.container-navBar {
				background: var(--color_white);
				align-self: flex-start;
				width: 100%;
				border-radius: 10px;
				box-shadow: none;
				overflow: hidden;

				display: grid;
				grid-template-columns: 2;
				grid-template-rows: 2;
				grid-column: 1/9;
				grid-row: 1/2;
				button {
					&:hover {
						opacity: 1;
					}
				}
				.btn-chronometer {
					color: var(--color_grey2);
					margin: 10px 20px;
					padding: 10px 0;
					font: {
						size: 1.5rem;
						weight: 900;
					}
					background: #f0f5f8;
					box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
					border-radius: 10px;

					grid-column: 1/2;
					grid-row: 1/2;
				}
				.btn-clock {
					color: var(--color_grey2);
					margin: 10px 20px;
					padding: 10px 0;
					font: {
						size: 1.5rem;
						weight: 900;
					}
					background: #f0f5f8;
					box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
					border-radius: 10px;

					grid-column: 2/3;
					grid-row: 1/2;
				}
			}
			.container-colors {
				background: transparent;
				box-shadow: 0 0 10px #ffffff90;
				position: absolute;
				place-self: flex-end;
				margin: 10px;
				z-index: 200;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				cursor:pointer;
				outline: 2px solid #fff;
				transition: .5s;

				grid-column: 1/9;
				grid-row: 8/9;
				&.active {
					margin: 0 50px 55px 0;
					margin-bottom: 200px;
					span {
						opacity: 1;
						pointer-events: visible;
						transform: rotate(calc(var(--i) * (360deg/10))) translateY(50px);
					}
				}
				span {
					position: absolute;
					box-shadow: 0 0 10px #00000080;
					z-index: 100;
					width: 25px;
					height: 25px;
					border-radius: 50%;
					cursor: pointer;
					opacity: 0;
					pointer-events: none;
					transition: .6s ease all;
					&:hover {
						opacity: .8;
						box-shadow: none;
					}
					&.active {
						outline: 2px solid #fff;
					}
				}
			}
		}
	}
}
