.container-clock {
  width: 90%;
  height: 100%;
  place-self: center;
  -webkit-transition: .5s linear, opacity .3s;
  transition: .5s linear, opacity .3s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  pointer-events: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2/8;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
}

.container-clock.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  pointer-events: visible;
}

.container-clock .container-accountant-clock {
  place-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.container-clock .container-accountant-clock .content-accountant-clock {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-clock .container-accountant-clock .content-accountant-clock .hours-clock,
.container-clock .container-accountant-clock .content-accountant-clock .minutes-clock,
.container-clock .container-accountant-clock .content-accountant-clock .seconds-clock {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  padding: 40px;
  border-radius: 50%;
  -webkit-box-shadow: -4px -4px 10px #ffffff50, 4px 4px 10px #00000050;
          box-shadow: -4px -4px 10px #ffffff50, 4px 4px 10px #00000050;
}

.container-clock .container-accountant-clock .content-accountant-clock .points-first-clock,
.container-clock .container-accountant-clock .content-accountant-clock .points-seconds-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-clock .container-accountant-clock .content-accountant-clock .points-first-clock span,
.container-clock .container-accountant-clock .content-accountant-clock .points-seconds-clock span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px;
  background: var(--color_white);
}

.container-clock .container-accountant-clock .content-accountant-clock .am-pm {
  color: var(--color_white);
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.5rem;
}

.container-clock .container-date {
  font-size: 1.5rem;
  place-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
}

@media (max-width: 675px) {
  .container-clock {
    width: 90%;
    height: 100%;
    place-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2/8;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (auto)[8];
        grid-template-rows: repeat(8, auto);
  }
  .container-clock .container-accountant-clock {
    place-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
  }
  .container-clock .container-accountant-clock .content-accountant-clock {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-clock .container-accountant-clock .content-accountant-clock .hours-clock,
  .container-clock .container-accountant-clock .content-accountant-clock .minutes-clock,
  .container-clock .container-accountant-clock .content-accountant-clock .seconds-clock {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    -webkit-box-shadow: -4px -4px 10px #ffffff50, 4px 4px 10px #00000050;
            box-shadow: -4px -4px 10px #ffffff50, 4px 4px 10px #00000050;
  }
  .container-clock .container-accountant-clock .content-accountant-clock .points-first-clock,
  .container-clock .container-accountant-clock .content-accountant-clock .points-seconds-clock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-clock .container-accountant-clock .content-accountant-clock .points-first-clock span,
  .container-clock .container-accountant-clock .content-accountant-clock .points-seconds-clock span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px;
    background: var(--color_white);
  }
  .container-clock .container-date {
    font-size: 1.5rem;
    place-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
  }
}

@media (max-width: 425px) {
  .container-clock {
    width: 90%;
    height: 100%;
    place-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2/8;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (auto)[8];
        grid-template-rows: repeat(8, auto);
  }
  .container-clock .container-accountant-clock {
    place-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
  }
  .container-clock .container-accountant-clock .content-accountant-clock {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-clock .container-accountant-clock .content-accountant-clock .hours-clock,
  .container-clock .container-accountant-clock .content-accountant-clock .minutes-clock,
  .container-clock .container-accountant-clock .content-accountant-clock .seconds-clock {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    -webkit-box-shadow: -4px -4px 10px #ffffff50, 4px 4px 10px #00000050;
            box-shadow: -4px -4px 10px #ffffff50, 4px 4px 10px #00000050;
  }
  .container-clock .container-accountant-clock .content-accountant-clock .points-first-clock,
  .container-clock .container-accountant-clock .content-accountant-clock .points-seconds-clock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-clock .container-accountant-clock .content-accountant-clock .points-first-clock span,
  .container-clock .container-accountant-clock .content-accountant-clock .points-seconds-clock span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px;
    background: var(--color_white);
  }
  .container-clock .container-accountant-clock .content-accountant-clock .am-pm {
    color: var(--color_white);
    font-size: 1rem;
    position: absolute;
    top: 85%;
    z-index: 250;
    left: 95%;
  }
  .container-clock .container-date {
    text-align: center;
    font-size: 1.5rem;
    place-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
  }
}
/*# sourceMappingURL=clock.css.map */